<div class="row">
	<form method="POST" id="form">
		<div class="col-md-6 col-md-offset-3">
			<h1>{{title}}</h1>
			<hr>
			<label for="nameAlias"><b>Nome fantasia</b></label>
			<input type="text" placeholder="Digite aqui" name="nameAlias" value="{{company.nameAlias}}" >

			<label for="name"><b>Razão Social</b></label>
			<input type="text" placeholder="Digite aqui" name="name" value="{{company.name}}" required>

			<label for="name"><b>Email</b></label>
			<input type="text" placeholder="Digite aqui" name="email" type="email" value="{{company.email}}" required>

			<label for="cnpj"><b>CNPJ</b></label>
			<input type="text" placeholder="Digite aqui"  name="cnpj" value="{{company.cnpj}}" required>

			<label for="inscrEstadual"><b>Inscrição Estadual</b></label>
			<input type="text" placeholder="Digite aqui" name="ie" value="{{company.ie}}" required>

			<div class="col-md-12" role="group">
				{{#if title === 'Detalhes'}}
					<button type="submit" id="btnFormDeletar" class="btn btn-danger btn-lg">Deletar</button>
					<button type="submit" id="btnFormEditar" class="btn btn-success btn-lg">Editar</button>
				{{else}}
					<button type="reset" class="btn btn-danger btn-lg">Limpar</button>
					<button type="submit" class="btn btn-success btn-lg">Salvar</button>
				{{/if}}
			</div>
		</div>
	</form>
</div>
